In [1]:
from sklearn.externals import joblib
from JSON_to_DF import *
import pandas as pd
import requests


pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
%matplotlib inline

height has been deprecated.

In [2]:
clf = joblib.load('../zack_xgboost.pkl')

/Users/zachary/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/zachary/anaconda/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [3]:
result = requests.get("http://galvanize-case-study-on-fraud.herokuapp.com/data_point")
json_ = result.json()
type(json_)

dict

In [4]:
query_df = pd.DataFrame.from_dict(json_,  orient='index')
query_df = query_df.transpose()

In [5]:
query_df.head()

                     org_name name_length   event_end venue_latitude event_published user_type channels currency                                           org_desc event_created event_start has_logo            email_domain user_created payee_name payout_type                venue_name sale_duration2     venue_address approx_payout_date org_twitter   gts listed                                       ticket_types org_facebook num_order user_age body_length                                        description object_id venue_longitude venue_country                                   previous_payouts sale_duration num_payouts            name country delivery_method has_analytics fb_published venue_state has_header show_map
0  The Mind Body Soul Project          14  1361419200       -27.4616     1.36047e+09         3        8      AUD  <p>The Mind Body Soul Project is a team of mot...    1360405380  1361413800        1  12weekmindbodysoul.com   1358377692                    ACH  The Lightworkers Cottage             11  152 James Street         1361851200           0  56.7      y  [{u'event_id': 5466782, u'cost': 12.0, u'avail...            0         4       24        3220  <p>The Mind Body Soul Project Presents:</p>\r\...   5466782         153.047                [{u'name': u'', u'created': u'2013-02-25 03:13...            11           0  Meditation 101      AU               0             0            0                      0        1

In [6]:
query = clean_data(query_df)
query.head()
#predictions = clf.predict(query)

JSON_to_DF.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df3['num_ticket_type'] = map(lambda X: len(X) if len(X) > 0 else None, df3['ticket_types'])
JSON_to_DF.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df3['median_ticket_cost'] = map(lambda X: median_ticket_cost(X), df3['ticket_types'])
JSON_to_DF.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df3['total_tickets_sold'] = map(lambda X: total_tickets_sold(X), df3['ticket_types'])
JSON_to_DF.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df3['nan_delivery_method'] = pd.isnull(df3['delivery_method'])
JSON_to_DF.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df3['nan_org_facebook'] = pd.isnull(df3['org_facebook'])
JSON_to_DF.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df3['nan_num_ticket_type'] = pd.isnull(df3['num_ticket_type'])
JSON_to_DF.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df3['nan_median_ticket_cost'] = pd.isnull(df3['median_ticket_cost'])
JSON_to_DF.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df3['payout_type'] = map(lambda x: x if x != '' else None, df3['payout_type'])
JSON_to_DF.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df3['payout_type'] = df3['payout_type'].fillna('MISSING')

   channels  delivery_method  show_map  user_type  has_logo  org_facebook  sale_duration  sale_duration2  event_created_to_end  num_ticket_type  median_ticket_cost  total_tickets_sold nan_delivery_method nan_org_facebook nan_num_ticket_type nan_median_ticket_cost  payout_type_CHECK  payout_type_MISSING
0         8              0.0         1          3         1           0.0           11.0              11                    12                1                12.0                   4               False            False               False                  False                  0                    0

In [7]:
query.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 18 columns):
channels                  1 non-null int64
delivery_method           1 non-null float64
show_map                  1 non-null int64
user_type                 1 non-null int64
has_logo                  1 non-null int64
org_facebook              1 non-null float64
sale_duration             1 non-null float64
sale_duration2            1 non-null int64
event_created_to_end      1 non-null int64
num_ticket_type           1 non-null int64
median_ticket_cost        1 non-null float64
total_tickets_sold        1 non-null int64
nan_delivery_method       1 non-null bool
nan_org_facebook          1 non-null bool
nan_num_ticket_type       1 non-null bool
nan_median_ticket_cost    1 non-null bool
payout_type_CHECK         1 non-null int64
payout_type_MISSING       1 non-null int64
dtypes: bool(4), float64(4), int64(10)
memory usage: 188.0 bytes

In [10]:
predictions = clf.predict_proba(query.values)

In [11]:
predictions

array([[ 0.99802911,  0.00197086]], dtype=float32)